##Example code for Linear Regression with Multiple Variables

In [ ]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression

Download the home prices data into the colab workspace.

In [ ]:
!wget https://raw.githubusercontent.com/mdzafri/uniten-ai/main/2022-1/homeprices.csv

--2022-09-25 13:48:54--  https://raw.githubusercontent.com/mdzafri/uniten-ai/main/2022-1/homeprices.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 113 [text/plain]
Saving to: ‘homeprices.csv’

homeprices.csv      100%[===================>]     113  --.-KB/s    in 0s

2022-09-25 13:48:54 (3.68 MB/s) - ‘homeprices.csv’ saved [113/113]

Load the data into a pandas dataframe. View and then analyze the data. Look for trends.

In [ ]:
df = pd.read_csv("homeprices.csv")
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

NaN needs to be handled. Many methods can be used to assume the value, usually you need understanding of the data.

Here we use the median to get a number for "bedrooms".

In [ ]:
import math
median_bedrooms = math.floor(df.bedrooms.median())
median_bedrooms

3

Use `fillna` to replace any NaN occurance with the calculated median value.

In [ ]:
df.bedrooms = df.bedrooms.fillna(median_bedrooms)
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       3.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

Define the model to use Linear Regression. Then train/fit the model using the `fit` method. 

Note the syntax using double brackets `[['']]`

In [ ]:
model = LinearRegression()
model.fit(df[['area', 'bedrooms', 'age']], df.price)

LinearRegression()

View the model coefficients and intercept.

In [ ]:
print("Model slope:    ", model.coef_)
print("Model intercept:", model.intercept_)

Model slope:     [   137.25 -26025.    -6825.  ]
Model intercept: 383724.99999999994

Predict the price of a home with the following features:

1. 3000 sqft area, 3 bedrooms, 40 years old
2. 2500 sqft area, 4 bedrooms, 5 years old

In [ ]:
# pass a datafram to the predict function
# sample = pd.DataFrame({'area':[3000],
#                    'bedrooms':[3],
#                    'age':[40]})
# model.predict(sample[['area', 'bedrooms', 'age']])

# pass array values to the predict function
model.predict([[3000, 3, 40]])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"

array([444400.])

##Assignment 1, Part 2
Estimate the salary of candidate employees based on their experience, test score and interview score:

1. Carol Danvers, 8 years, test: 7, interview: 9
2. Kamala Khan, 1 year, test: 6, interview: 9

Start by downloading the Salary data into the colab workspace.

In [ ]:
!wget https://raw.githubusercontent.com/mdzafri/uniten-ai/main/2022-1/hrSalary.csv

--2022-09-25 14:31:54--  https://raw.githubusercontent.com/mdzafri/uniten-ai/main/2022-1/hrSalary.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 144 [text/plain]
Saving to: ‘hrSalary.csv.1’

hrSalary.csv.1      100%[===================>]     144  --.-KB/s    in 0s

2022-09-25 14:31:55 (8.28 MB/s) - ‘hrSalary.csv.1’ saved [144/144]

Initialising package libraries for Linear Regression and Data Analysis

In [ ]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression

#just in the case if mathematical analysis is required 
import math

Now, we shall begin with loading the downloaded csv file onto the notebook using pandas

In [ ]:
df = pd.read_csv("hrSalary.csv")
df

   experience  test_score  interview_score  salary
0         NaN         8.0                9    5000
1         NaN         8.0                6    4500
2         5.0         6.0                7    6000
3         2.0        10.0               10    6500
4         7.0         9.0                6    7000
5         3.0         7.0               10    6200
6        10.0         NaN                7    7200
7        11.0         7.0                8    8000

To resolve the gaps in the tabulation, we shall use median value to fill in the gaps. By applying math library, we shall have the snippet below

In [ ]:
#for column titled 'experience', note that the median value might be in decimals so we shall attempt rounding off

median_exp = math.floor(df.experience.median())
print("Median value for column 'experience'         =", median_exp)

#similarly, for test scores and interview scores

median_test = math.floor(df.test_score.median())
print("Median value for column 'test_score'         =", median_test)

median_iv = math.floor(df.interview_score.median())
print("Median value for column 'interview_score'    =", median_iv)

Median value for column 'experience'         = 6
Median value for column 'test_score'         = 8
Median value for column 'interview_score'    = 7

By using fillna function to replace NaN occurances

In [ ]:
df.experience = df.experience.fillna(median_exp)
df.test_score = df.test_score.fillna(median_test)
df.interview_score = df.interview_score.fillna(median_iv)

df

   experience  test_score  interview_score  salary
0         6.0         8.0                9    5000
1         6.0         8.0                6    4500
2         5.0         6.0                7    6000
3         2.0        10.0               10    6500
4         7.0         9.0                6    7000
5         3.0         7.0               10    6200
6        10.0         8.0                7    7200
7        11.0         7.0                8    8000

Now, using LinearRegression() function, we model the regression as following,

In [ ]:
model = LinearRegression()
model.fit(df[['experience', 'test_score', 'interview_score']], df.salary)

LinearRegression()

Viewing model coefficients and intercept

In [ ]:
print("Model coefficient    =", model.coef_)
print("Model intercept      =", model.intercept_)

Model coefficient    = [281.30081301 133.33333333 292.68292683]
Model intercept      = 1186.9918699186946

Predicting salary for Carol Danvers and Kamala Khan respectively

In [ ]:
#Salary prediction for Carol Danvers

salary_carol = model.predict([[8, 7, 9]])
print("The predicted salary for Carol Danvers   =", salary_carol)

The predicted salary for Carol Danvers   = [7004.87804878]

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"

In [ ]:
#Salary prediction for Kamala Khan

salary_kamala = model.predict([[1, 6, 9]])
print("The predicted salary for Kamala Khan     =", salary_kamala)

The predicted salary for Kamala Khan     = [4902.43902439]

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"